@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.formGroup {
  @include form-group;

  select {
    @include form-element;

    &:focus {
      @include form-element-focus;
    }

    &.invalid {
      border: 1px solid $warning-color;
      background-color: $warning-background-color;

      &:focus {
        box-shadow: 0 0 6px $warning-color;
      }

      &::placeholder {
        color: $invalid-placeholder-color;
      }
    }
  }

  label {
    @include form-label;
  }
}
