@import '../../scss/variables.scss';

.FormContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: 90vw;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid $site-blue;
  border-radius: 10px;
  box-shadow: 1px 1px 6px black;
}

.FormContainer h1 {
  font-size: 1.5em;
  margin-bottom: 25px;
  color: $site-blue;
  padding: 5px 5px 15px 5px;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
